<footer class="page-footer font-small bg-secondary pt-4">

    <div class="container">
        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
                <h4 class="text-white"> Siga-nos nas redes Sociais</h4>


            </div>
        </div>

        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">

                <ul class="social-network">
                    <li>
                        <a href="https://www.linkedin.com/in/larissamreis/" target="_blank" class="icoLinkedIn"></a>
                        <i class="fa fa-linkedin" aria-hidden="true"></i>
                    </li>

                    <li>
                        <a href="https://www.instagram.com/laro_producoes/" target="_blank" class="icoInstagram"></a>
                        <i class="fa fa-instagram" aria-hidden="true"></i>
                    </li>

                    <li>
                        <a href="https://github.com/laroreis" target="_blank" class="icoGithub"></a>
                        <i class="fa fa-github-alt" aria-hidden="true"></i>
                    </li>

                </ul>

            </div>
        </div>

    </div>


    <div class="footer-copyright bg-dark text-center py-3">
        <span class="text-light"> © 2021 Copyright: </span>
        <a class="text-light" target="_blank" href="https://larissamreis3.myportfolio.com/">Laro Produções</a>

    </div>

</footer>
